# Database Connection Example
DATABASE_URL="postgresql://<user>:<password>@<host>/<database>?sslmode=require"

# UploadThing Credentials Example
UPLOADTHING_SECRET="sk_live_..."
UPLOADTHING_TOKEN="eyJ..."
